In [1]:
# Load libraries
import numpy as np
import pandas as pd
import pandas_datareader as dr
from pandas import read_csv, set_option
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler

# Import Model Packages 
from sklearn.cluster import KMeans, AgglomerativeClustering,AffinityPropagation, DBSCAN
from scipy.cluster.hierarchy import fcluster
from scipy.cluster.hierarchy import dendrogram, linkage, cophenet
from scipy.spatial.distance import pdist
from sklearn.metrics import adjusted_mutual_info_score
from sklearn import cluster, covariance, manifold

# Other Helper Packages and functions
import matplotlib.ticker as ticker
from itertools import cycle

import yahoo_fin.stock_info as si
import yfinance as yf

import datetime
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [22]:
# The dataset was obtained from Kaggle and imported
df = read_csv('./data/stockprices.csv')

In [24]:
df.head()

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04 00:00:00-05:00,MMM,59.318886,83.019997,83.449997,82.669998,83.089996,3043700.0
1,2010-01-05 00:00:00-05:00,MMM,58.947342,82.500000,83.230003,81.699997,82.800003,2847000.0
2,2010-01-06 00:00:00-05:00,MMM,59.783295,83.669998,84.599998,83.510002,83.879997,5268500.0
3,2010-01-07 00:00:00-05:00,MMM,59.826176,83.730003,83.760002,82.120003,83.320000,4470100.0
4,2010-01-08 00:00:00-05:00,MMM,60.247749,84.320000,84.320000,83.300003,83.690002,3405800.0

In [23]:
len(df)

1619660

## Define Start and End Date

In [25]:
# Define start date and end date for the data
start_date = '2016-01-03'
end_date = '2019-12-31'

df_sp500 = df[(df.Date>=start_date) & (df.Date<=end_date)]

In [26]:
df_sp500.describe()

,Adj Close,Close,High,Low,Open,Volume
count,495242.000000,495242.000000,495242.000000,495242.000000,495242.000000,4.952420e+05
mean,96.619521,102.483144,103.461797,101.440198,102.463467,4.898221e+06
std,159.954705,160.412801,162.142631,158.604534,160.343233,1.249021e+07
min,0.700000,0.700000,0.710000,0.650000,0.700000,0.000000e+00
25%,40.326423,44.320800,44.779999,43.860001,44.320000,9.726000e+05
50%,65.812489,72.839996,73.489998,72.133331,72.824356,1.990700e+06
75%,110.881840,118.400002,119.419998,117.300003,118.379997,4.376375e+06
max,3892.889893,3892.889893,3946.500000,3815.500000,3900.000000,5.334788e+08

In [29]:
#Checking for any null values and removing the null values'''
print('Null Values =', df_sp500.isnull().any())

Null Values = Date         False
Symbol       False
Adj Close     True
Close         True
High          True
Low           True
Open          True
Volume        True
dtype: bool

In [28]:
df_sp500.isnull().sum()

Date             0
Symbol           0
Adj Close    12285
Close        12285
High         12285
Low          12285
Open         12285
Volume       12285
dtype: int64

In [ ]:
ddf